<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= @form.name %></title>
    <%= stylesheet_link_tag('/plugin_assets/formbuilder/stylesheets/form_builder.css') %>
    <%= javascript_include_tag('prototype', 'effects', 'controls', 'application') %>
    <%= javascript_include_tag('/plugin_assets/formbuilder/javascripts/event-delegation-dragdrop.js', '/plugin_assets/formbuilder/javascripts/common.js', '/plugin_assets/formbuilder/javascripts/form_builder.js') %>
  </head>
  <body>
    <div id="messages">
      <%= render :partial => "layouts/message" %>
    </div>
    <%= yield %>
  </body>
</html>
